#background {
width: 100%;
height: 100%;
background: FloralWhite;
}

#login_window {
width: 298px; height: 218px;
padding: 18px 9px;
border-radius: 4px;
background: #fafafa;
position: fixed;
top: 0; left: 0; right: 0; bottom: 0;
margin: auto;
display: none;
opacity: 0;
z-index: 38;
text-align: center;
}

#newacc_window {
width: 298px; height: 288px;
padding: 18px 9px;
border-radius: 4px;
background: #fafafa;
position: fixed;
top: 0; left: 0; right: 0; bottom: 0;
margin: auto;
display: none;
opacity: 0;
z-index: 38;
text-align: center;
}

#login_close {
width: 21px; height: 21px;
position: absolute;
font-size: 39px;
top: 1px; right: 11px;
cursor: pointer;
display: block;
}

#newacc_close {
width: 21px; height: 21px;
position: absolute;
font-size: 39px;
top: 1px; right: 11px;
cursor: pointer;
display: block;
}

#overlay {
z-index: 37;
position: fixed;
background: rgba(0,0,0,.7);
width: 100%; height: 100%;
top: 0; left: 0;
cursor: pointer;
display: none;
}

.log_fields {
display: flex;
flex-direction: row;

}

.login_field {
display: flex;
flex-direction: column;
}

.newacc_field {
display: flex;
flex-direction: column;
}

.input_fields {
width: 230px;
height: 30px;
align-self: center;
margin-top: 20px;
}

.vhod {
font-size: 30px;
}

#new_acc_text {
font-size: 16px;
}

#login_button {
width: 80px;
height: 30px;
align-self: center;
margin-top: 20px;
background: DodgerBlue;
font-size: 16px;
font-weight: bold;
color: white;
transition: background 0.05s linear;
transition: all .05s linear;
box-shadow: 3px 3px 3px #999;
}

#login_button:active {
background: blue;
box-shadow: 1px 1px 1px #777;
transform: translateY(2px);
}

#newacc_button {
width: 190px;
height: 35px;
align-self: center;
margin-top: 20px;
background: DodgerBlue;
font-size: 16px;
font-weight: bold;
color: white;
transition: background 0.05s linear;
transition: all .05s linear;
box-shadow: 3px 3px 3px #999;
}

#newacc_button:active {
background: blue;
box-shadow: 1px 1px 1px #777;
transform: translateY(2px);
}
